body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
}
.project {
    border: 1px;
    padding: 1px solid#885252;
    margin: 20px 0;
    border-radius: 8px;
}
h1 {
    color: rgb(67, 36, 161);
}
* {
    margin: 0%;
    background-color: rgb(190, 113, 126);
    border: 0cap;
    padding: 0%;
}